.flex-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

body {
    background-color: #F6F6F6;
    padding: 0;
    margin: 0;
    width: 100%;

    font-family: "Open Sans", sans-serif;
    font-weight: bold;

    section:first-child {
        border-bottom: 5px solid #FFF;
        background-color: #FFF; 
        
        header {
            height: 75px;
            margin: 0 20%;

            .flex-row;
    
            img#logo {
                margin-top: 8px;
            }

            nav {

                ul {

                    margin: 0 0 0 50px;
                    padding: 0;

                    li {
                        height: 75px;
                        display: inline-block;

                        a {
                            padding: 22px 21px 21px 21px;
                            display: inline-block;
                            text-decoration: none;
                            color: #3C3C3B;
                            font-size: 20px;
                            line-height: 32px;
                        }

                        a:hover {
                            color: #888888;
                            border-bottom: 5px solid #888888;
                            border-radius: 3px;                      
                        }

                        a.active, a:active {
                            border-bottom: 5px solid #B7556C;
                            color: #B7556C;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }

    section:nth-child(2) {
        position: relative;
        background-color: #575756;
        width: 100%;
        overflow: hidden;
        
        .flex-row;

        img {
            
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);

            min-height: 600px;
            max-height: 1200px;
            width: 100%;

            background-image: url(assets/images/temp_instagram_test_image.jpg);
            background-position: center;
            background-size: cover;
            
            filter: grayscale(100%) brightness(0.8) blur(1.5px);
            background-attachment: fixed;
        }
    }

    article {
        position: absolute;
        left: 0;
        right: 0;
        top: 150px;

        margin: 0 auto 50px auto;
        padding: 10px 42px 42px 42px; 

        border-top: 5px solid #B7556C;
        background: #fff;
        width: 600px;

        border-radius: 3px;

        -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.2);
        -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.2);
        box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.2);

        h1 {
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            margin: 20px 0;
            color: #3f4652;
            color: #B7556C;
            font-size: 28px;
        }

        div {
            font-family: "Lora", serif;
            font-weight: 400;
            font-size: 1.15em;
            line-height: 1.63043em;
            color: #454646;
        }
    }

    section:nth-child(4) {
        font-family: "Lora", serif;        
        height: 260px;

        text-align: right;
        padding: 20px 20px 0 0;
        font-size: 12px;
        color: #D9D9D9;

        background-image: url(assets/images/mountains_footer.gif);
        background-color: #F6F6F6;
        background-position: bottom;
        background-repeat: no-repeat;
    }
}